.container {
    margin: auto;
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem
}

img {
    width: 80%;
    cursor: pointer;
    transition: all 1s;
}

.hidden {
    opacity: 0;
    /* display: none; */
}